<div class="container-fluid container-login">

  <ul class="box-login animated flipInX" *ngIf="mode == 'list'">
    <h1 class="p-header ">{{title}}</h1>
    <p class="p-header" *ngIf="todos.length==0"><small>Não tem nenhuma tarefa hoje!</small></p>
    <li *ngFor="let todo of todos" class="text-nowrap"><p class="p-header-sm">{{todo.id}}. {{todo.title}}         
        <i class="margin-buttons text-success float-right fas fa-check-circle" *ngIf="!todo.done" (click)="markAsDone(todo)" ></i>        
        <i class="margin-buttons text-secondary float-right fas fa-check-circle" *ngIf="todo.done" (click)="markAsUndone(todo)" ></i>        
        <i class="margin-buttons text-danger float-right far fa-trash-alt" (click)="remove(todo)"></i>
      </p>
      </li>
      <li style="list-style-type: none;">
        <button class="btn b-roxo" (click)="changeMode('add')" *ngIf="mode == 'list'">Nova Tarefa</button>    
      </li>
  </ul>


  <div id="modal" class="box-login animated flipInX" *ngIf="mode == 'add' ">           
    <form [formGroup]="form">    
        <p class="p-header">Nova Tarefa </p>
        <input type="text" class="form-control"
        placeholder="Título da tarefa" 
        maxlength="60"
        formControlName="title"> 
        <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine" class="text-danger">Este campo deve conter entre 3 e 60 caracteres</small>
        <button [disabled]="form.invalid" class="btn b-roxo" (click)="add()">Salvar</button> 
        <button class="btn btn-danger" style="width: 100%; margin-top: 20px;" (click)="changeMode('list')" *ngIf="mode == 'add'">Cancelar</button>     
    </form>
  </div>

</div>
